@model IEnumerable<GamePlanningApp.Models.Team>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Do Pairing", "PairingCreate")
</p>
<p>Gents Team</b></p>
@{
    IEnumerable<GamePlanningApp.Models.Team> gents = ViewData["Gents"] as IEnumerable<GamePlanningApp.Models.Team>;
    IEnumerable<GamePlanningApp.Models.Team> ladies = ViewData["Ladies"] as IEnumerable<GamePlanningApp.Models.Team>;
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catogory)
        </th>
        <th></th>
    </tr>

@foreach (var item in gents) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Catogory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeamId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamId })
        </td>
    </tr>
}

</table>
<p>Ladies Team</b></p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catogory)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ladies)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catogory)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TeamId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TeamId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TeamId })
            </td>
        </tr>
    }

</table>
