@model GamePlanningApp.Models.Round

@{
    ViewBag.Title = "PairingCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PairingCreate</h2>
<p>Gents Team Rounds</b></p>
@{
    IEnumerable<GamePlanningApp.Models.Round> gents = ViewData["Gents Game Plan"] as IEnumerable<GamePlanningApp.Models.Round>;
    IEnumerable<GamePlanningApp.Models.Round> ladies = ViewData["Ladies Game Plan"] as IEnumerable<GamePlanningApp.Models.Round>;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoundId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catogory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pair1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pair2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pair3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pair4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pair5)
        </th>
        <th></th>
    </tr>

    @foreach (var item in gents)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoundId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catogory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pair1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pair2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pair3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pair4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pair5)
            </td>
            <td>
                @Html.ActionLink("Details", "RoundDetails", new { id = item.RoundId })
            </td>
        </tr>
    }

</table>
<p>Ladies Team Round</b></p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoundId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catogory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pair1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pair2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pair3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pair4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pair5)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ladies)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoundId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catogory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pair1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pair2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pair3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pair4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pair5)
            </td>
            <td>
                @Html.ActionLink("Details", "RoundDetails", new { id = item.RoundId })
            </td>
        </tr>
    }

</table>
