@model GamePlanningApp.Models.Round

@{
    ViewBag.Title = "RoundDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RoundDetails</h2>
@{
    IEnumerable<GamePlanningApp.Models.Round> Round = ViewData["Round"] as IEnumerable<GamePlanningApp.Models.Round>;
    IEnumerable<GamePlanningApp.Models.TeamPair> Pair1 = ViewData["Pair1"] as IEnumerable<GamePlanningApp.Models.TeamPair>;
    IEnumerable<GamePlanningApp.Models.TeamPair> Pair5 = ViewData["Pair5"] as IEnumerable<GamePlanningApp.Models.TeamPair>;
    IEnumerable<GamePlanningApp.Models.TeamPair> Pair4 = ViewData["Pair4"] as IEnumerable<GamePlanningApp.Models.TeamPair>;
    IEnumerable<GamePlanningApp.Models.TeamPair> Pair3 = ViewData["Pair3"] as IEnumerable<GamePlanningApp.Models.TeamPair>;
    IEnumerable<GamePlanningApp.Models.TeamPair> Pair2 = ViewData["Pair2"] as IEnumerable<GamePlanningApp.Models.TeamPair>;
}
<div>
    <h4>Round</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoundId)
        </dt>

        <dd>
            @foreach (var item in Round)
            {
                @Html.DisplayFor(model => item.RoundId)                
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catogory)
        </dt>

        <dd>
            @foreach (var item in Round)
            {
                @Html.DisplayFor(model => item.Catogory)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamPair1)
        </dt>

        <dd>
            @foreach (var item in Pair1)
            {
               @Html.DisplayFor(model => item.Team1)                @:               @Html.DisplayFor(model => item.Team2)
            }
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamPair2)
        </dt>

        <dd>
           @foreach (var item in Pair2)
            {
            @Html.DisplayFor(model => item.Team1)   @:  @Html.DisplayFor(model => item.Team2)
           }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamPair3)
        </dt>

        <dd>
           @foreach (var item in Pair3)
            {
            @Html.DisplayFor(model => item.Team1)  @:      @Html.DisplayFor(model => item.Team2)
           }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamPair4)
        </dt>

        <dd>
           @foreach (var item in Pair4)
            {
            @Html.DisplayFor(model => item.Team1)    @:            @Html.DisplayFor(model => item.Team2)
           }
        </dd>

        <dt>
           TeamPair5
        </dt>

        <dd>
            @foreach (var item in Pair5)
            {
                @Html.DisplayFor(model => item.Team1)                @:
                @Html.DisplayFor(model => item.Team2)
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
